<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= item.title %></title>
    <link rel="shortcut icon" href="/img/favicon.jpg" type="image/x-icon">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        html,
        body {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        html,
        body {
            width: 100%;
            height: 100%;
        }

        .btn {
            display: inline-block;
            background-color: rgba(241, 38, 38, 0.89);
            padding: 0.5rem 2rem;
            font-size: 1.2rem;
            text-decoration: none;
            color: white;
            margin: 2rem 0;
        }

        .new-card{
            margin: 0 auto;
            width: 80%;
        }
        .new-card img{
            width: 100%;
            height: 70vh;
            /* object-fit: fill; */
            object-fit: cover;
        }
        .new-card h1{
            padding: 0 1rem;
        }
        .main-btns{
            display: flex;
            justify-content: space-around;
        }
        @media(width<=600px){
            .main-btns{
                flex-direction: column;
            }
            .btn{
                width: 100%;
            }
        }
        .card{
            border: none !important;
        }

        .rating-section{
            width: 80%;
            margin: 0 auto;
        }
        .form-range{
            width: 100%;
        }
        .review-card{
            border: 2px solid black !important;
            margin: 1rem;
        }
        .main-cards{
            justify-content: center;
        }
    </style>
         <link rel="stylesheet" href="/CSS/common.css">   

</head>

<body>
    <%-include('./includes/navbar.ejs')%>

    
        <div class="card new-card">
            <h1>
                <%= item.title %>
            </h1>
            <img src="<%= item.image.url %>" class="card-img-top" alt="item-img">
            
            <div class="card-body">
              <p class="card-text"> <%= item.description %> </p>
              <p class="card-text"> <%= item.location %>, <%= item.country %></p>
              <p class="card-text"> &#8377; <%= item.price.toLocaleString("en-IN")%> </p>
            </div>
          </div>

        <div class="main-btns">
            <a href="/listings/<%= item._id %>/edit" class="btn">Edit This Listing</a>
        <form action="/listings/<%= item.id %>?_method=DELETE" method="post">
            <button class="btn">Delete This Listing</button>
        </form>
        </div>

        <div class="rating-section">
            <hr>
            <h1>Leave a Review</h1>
            <hr>
        <form action="/listings/<%= item._id %>/reviews" method="post" novalidate class="needs-validation">
            <div>
                <label for="rating" class="form-label">Rating:</label>
                <input type="range" name="review[rating]" id="rating" min="1" max="5" step="1" class="form-range">
            </div>
            <div>
                <label for="comment" class="form-label">Comment:</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">
                    please add some comments for review !
                </div>
            </div>

            <button class="btn btn-outline-dark">Submit</button>
        </form>
        </div>


        <div class="rating-section">
        <h3>All Reviews</h3>
        <div class="row main-cards">
            <% for(review of item.reviews) {%>
            <div class="card col-md-3 review-card">
                <div class="card-body ">
                    <h3 class="card-title"> User Name </h3>
                    <p class="card-text">   <%= review.comment %>   </p>
                    <p class="card-text">   <%= review.rating%> Star   </p>
                    <form action="/listings/<%=item._id%>/reviews/<%=review._id%>?_method=DELETE" method="post">
                        <button class="btn btn-outline-dark">Delete</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
    </div>




        <%-include('./includes/footer.ejs')%>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

            <script src="/JS/common.js"></script>
</body>

</html>