<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/css/userProfile.css">
</head>
<body>
    <h1>Welcome In Instagram, @<%= allUserData.name %></h1>
    <button>Follow</button>
    <button>Followers</button>
    <hr>
    <div class="user-posts">
    <%for(post of allUserData.posts){%>
    <div class="post">
        <img src="<%=post.image%>" alt="">
        <button>Likes <%=post.likes%></button>
        <button>Comments <%=post.comments%></button>
    </div>
    <%}%>
    </div>
    <div class="user-posts">
    <%for(post of allUserData.posts){%>
    <div class="post">
        <img src="<%=post.image%>" alt="">
        <button>Likes <%=post.likes%></button>
        <button>Comments <%=post.comments%></button>
    </div>
    <%}%>
    </div>
    <div class="user-posts">
    <%for(post of allUserData.posts){%>
    <div class="post">
        <img src="<%=post.image%>" alt="">
        <button>Likes <%=post.likes%></button>
        <button>Comments <%=post.comments%></button>
    </div>
    <%}%>
    </div>
</body>
</html>