<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        html,
        body {
            width: 100%;
            height: 100%;
        }


        .chat{
            background-color:rgba(0, 255, 255, 0.5);
            margin-top: 2rem;
            border-radius: 5px;
            padding: 1rem;
        }
        .msg-section{
            margin: 1rem 0;
        }
        .msg{
            background-color: rgba(137, 154, 248, 0.5);
            padding: 1rem;
        }
        h1{
            text-align: center;
        }

        .edit{
            display: inline-block;
            margin: 1rem 0;
            border:2px solid black;
            text-decoration: none;
            color: white;
            background-color: blueviolet;
            padding: 0.5rem 2rem;
        }
    </style>
</head>

<body>  
        <h1>ALL Chats</h1>
        <form action="/chats/new" method="get">
            <button>New Chat</button>
        </form>
    <% for(chat of chats) { %>
    <div class="chat">
        <p>Sender: <%= chat.from %></p>
        <p>Receiver: <%= chat.to %></p>
        <div class="msg-section">
            <div class="msg">
                Message: <%= chat.msg %>
            </div>
            <a href="/chats/<%= chat.id %>/edit" class="edit">Edit</a>
            <form action="/chats/<%= chat.id %>?_method=DELETE" method="post">
                <button>Delete</button>
            </form>
        </div>
        <p><%= chat.created_at.toString().split(" ")[4] %></p>
        <p><%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>
    </div>
    
    <% } %>
    <script>
    </script>
</body>

</html>